table {
    width: 100%;
}

.cstm-div {
    width: 90%;
    margin: 1rem auto;
    border: solid 1px rgba(0, 0, 0, 0.322);
}

.table-div {
    border: solid 1px rgba(0, 0, 0, 0.014);
}

.form-field {
    padding-top: 1rem;
    padding-left: 24px;
}

.edit-btn{
    transition: ease all .3s;
}
.edit-btn:hover{
    transform: scale(1.1);
    background-color: rgba(0, 26, 255, 0.096);
}

.delete-btn{
    transition: ease all .3s;
}
.delete-btn:hover{
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.096);
}